:root {
    --grey: #f8f9fa;
}

body {
    font-style: arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 1;
}

button {
    background-color: var(--grey);
    border-color: none;
}

footer {
    background-color: var(--grey);
}

header {
    display: flex;
    justify-content:space-between;
}