:root {
    /*Colours*/
    --grey: #f8f9fa;
    --rainbow: linear-gradient(90deg, rgba(0,212,255,1) 9%, rgba(0,224,42,1) 30%, rgba(236,217,8,1) 54%, rgba(255,134,5,1) 77%, rgba(224,0,0,1) 95%);

    /*Font Styles*/
    --arial: arial, sans-serif;
    --helvetica: helvetica, arial, sans-serif;
}

/* HTML tag styles */
body {
    font-style: var(--arial);
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 10px;
}

button {
    background-color: var(--grey);
    border: none;
}

footer {
    background-color: var(--grey);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto !important;
}



/* <a> Styles */
a {
    text-decoration: none;
    color:black;
    padding: 5px;
}

a:first-of-type {
    margin-left: 15px !important;
}
a:last-of-type {
    margin-right: 13px !important;
}


/* Google links -- icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}


/* Display flex styles */
.center {
    display: flex;
    justify-content: center;
}

.center-vertical {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.inline {
    display: flex;
    justify-content: space-evenly;
}

.start {
    display: flex;
    justify-content: left;
}

.end {
    display: flex;
    justify-content: right;
}

.column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.space-around {
    display: flex;
    justify-content: space-between;
}

.space-evenly {
    display: flex;
    justify-content: space-evenly;
}

.fill {
    width: 79%;
}


/* Child styles */
.header__margin {
    padding: 6px;
}

div.nav > a {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 2px;
    margin-left: 5px;
    padding: 5px;
}

div.nav.small > a {
    font-size: 13px;
    font-style: var(--helvetica);
}

/* Circle - profile icon */
.circle {
    background-color: red;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.icon-box {
    padding: 5px;
    margin: 0 6px;
}

/*Google image*/
.google-img {
    height: 200px;
    width: 500px;
}

/*Search buttons*/
.search {
    width: 584px;
    min-height: 44px;
    /* border: solid 1px gray; */
}

.search__margin {
    margin-top: 30px;
}

.search__icons {
    width: 7%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    color: #b5b2b2;
}

.search__border-tb {
    border: solid;
    border-width: 1px 0;
    border-color: #dbdbdb;
}

.b-left {
    border: solid;
    border-width: 1px 0 1px 1px;
    border-color: #dbdbdb;
    border-radius: 50% 0 0 50%;
}

.b-right {
    border: solid;
    border-width: 1px 1px 1px 0;
    border-color: #dbdbdb;
    border-radius: 0 50% 50% 0;
}

/* Search buttons */
.search__btns {
    margin: 11px 4px;
    padding: 0 16px;
    border: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #3c4043;
    height: 36px;
    min-width: 54px;
}

/*Footer*/
.footer-top {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
}

.footer-btm {
    padding: 10px 20px;
}