:root {
    --grey: #f8f9fa;
}

body {
    font-style: arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 10px;
}

button {
    background-color: var(--grey);
    border: none;
}

footer {
    background-color: var(--grey);
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
}

header {
    display: flex;
    justify-content:space-between;
    align-content: flex-start;
}

.center {
    display: flex;
    justify-content: center;
}

.inline {
    display: flex;
    justify-content: space-evenly;
}

.start {
    display: flex;
    justify-content: left;
}

.end {
    display: flex;
    justify-content: right;
}

.column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.space-around {
    display: flex;
    justify-content: space-between;
}